:root {
  --main-color: #8c0000;
  --main-color-transparent: #8c0000c8;
  --text-color: #fefdfe;
  --bg-purple: #150910c3;
  --bg-black: #111111e6;
}

* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  color: var(--text-color);
  font-family: "Poiret One", sans-serif;
}

.nav-ul {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 2rem;
  background-color: var(--bg-purple);
  font-size: 1.5rem;
  padding: 0.7rem 0;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

nav,
h1 {
  font-family: "Spirax", sans-serif;
  font-size: 1.9rem;
}

h1 {
  color: var(--main-color);
  font-size: 4rem;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
}

#hot {
  background-image: url("./assets/hot.jpg");
}

#juicy {
  background-image: url("./assets/juicy.jpg");
}

#cosy {
  background-image: url("./assets/cosy.jpg");
}

#hot,
#juicy,
#cosy {
  background-size: cover;
  height: 100vh;
}

#hot,
#juicy {
  border-bottom: solid 1rem var(--main-color);
}

.hot,
.juicy,
.cosy {
  width: 100%;
  margin: 0 3rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.section-p {
  background-color: var(--main-color-transparent);
  padding: 0.7rem 0;
  font-size: 1.2rem;
}

.section-ul {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg-black);
  padding: 0.7rem 1rem;
}

.section-ul li {
  display: flex;
  justify-content: space-between;
}

.desktop-only {
  display: none;
}

@media screen and (min-width: 760px) {
  .section-ul {
    width: 80%;
    padding: 1rem 2.7rem;
  }
}
